// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "slick";

.home_test{
  background-image: image-url("Picture2.png");
}

body{
  background-color: #fbfbfb;
  color: #111;
}

img{
  z-index: 99999;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);

}

.iconic{
  color: rgba(255,255,255,0.7);
}
.iconic:hover{

  color: rgba(255,255,255,1);

}

figure.portfolio{
  background-color: #fafafa;
  border: 1px solid #bbb;
  border-radius: 5px;
}
figure:hover{
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75) !important;
  cursor: pointer;
}

figure.nothing:hover{
  box-shadow: none !important;
  cursor: default;
}

figure.about{
  border-radius: 80px;
}
figcaption.portfolio{

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
tbody tr th{
  font-weight: normal !important;
}
figcaption.about{
  border-radius: 80px;

}

.photo{

  width: 85px;
  height: 75px;
  background-color: #fafafa;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.photo:hover{

  opacity: 1 !important;
}

.photo-2{
    width: 130px;
    height: 85px;
    background-color: #fafafa;
    border: 1px solid #bbb;
    border-radius: 5px;

}
.photo-2-vert{
    width: 85px;
    height: 130px;
    background-color: #fafafa;
    border: 1px solid #bbb;
    border-radius: 5px;

}
.height-long{

  height: 100px;
}


.photo-big{
  width: 205px;
  height: 145px;
}

.inactive{

  opacity: 0.7;
}

.active
{
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
}

.second-title{
  display: block;
  margin-bottom: 30px;
  font-size: 25px;
}
.justify{

  text-align: justify;
}
.project{

  color: #bbb !important;
}

.project a{

  text-decoration: none;
  color: inherit;
}

.single-spacing li{

  margin-bottom: 10px !important;
}
.third-title{
  font-size: 20px;
}

.fourth-title{
  font-size: 16px;
}
.project a:hover{

  text-decoration: none;
  color: #5B92AF !important;
}

a.blue_link{
  color: #5B92AF !important;
}

h1 strong{
  color: #111 !important;
}

a.head:hover{

  color: #fbfbfb !important;
}

footer p{
  color: #fbfbfb;
  font-size: 16px;

}
.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }

.italify{
  font-style: italic;
}

.header{
  height: 150px;
}
.highlights li{

  padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
    font-size: 12px;
}

.highlights li:last-child{
    border-bottom: 0px solid #ccc;
}
.header-image{
      height: 150px;
    border-radius: 90px;

}
.fade-header{
  height: 150px;
  background: rgba(0,0,0,0.6);
}

ul.content-normal li{

  margin-bottom: 30px;
}

.test{
  background-image: image-url("photonyc.jpeg");
}
.top-menu-el{

  // font-family: 'Arimo', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 3.2em;
  letter-spacing: 2px;
  font-style: normal;
  cursor: pointer;
  display: inline-block;
}

.top-menu-el:hover{

  background-image: linear-gradient(
        180deg, rgba(0,0,0,0),
        rgba(0,0,0,0) 81%,
        #222222 81.1%,
        #222222 85%,
        rgba(0,0,0,0) 85.1%,
        rgba(0,0,0,0)
    );
    text-decoration: none;

}

.top-menu-el-fade-header{

  // font-family: 'Arimo', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  color: #fbfbfb;
  font-size: 14px;
  line-height: 3.2em;
  letter-spacing: 2px;
  font-style: normal;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #f7f7f7;
  padding-left: 15px;
  padding-right: 15px;
}

.top-menu-el-fade-header:hover{

  // background-image: linear-gradient(
  //       180deg, rgba(0,0,0,0),
  //       rgba(0,0,0,0) 81%,
  //       #fbfbfb 81.1%,
  //       #fbfbfb 85%,
  //       rgba(0,0,0,0) 85.1%,
  //       rgba(0,0,0,0)
  //   );
    text-decoration: none;

}

.top-title{
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.289474em;
  font-size: 33px;
  color: #fbfbfb;

}
.t2{
    color: #333;
  }
.content-title
{
  font-family: 'Open Sans', sans-serif;
  font-size: 31px;
  color: #111;
}

h4{
  font-size: 16px !important;
}

.content{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #111;
}

.content-strong
{
  font-weight: bold;
}

.accordion{
  margin-top: 10px;
  border-left: solid 1px #bbb;

}

.accordion-margin{

  margin-top: 10px;
  padding-right: 20px;
}

.content-normal{
  margin-top: 3px;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif;
}

.location{
  margin-top: 3px;
  margin-bottom: 58px;
}

.bar{

  border-bottom: 1px solid #bbb;
  width: 100%;

}

.main{
  font-size: 16px;

}




#test .arc2 {
            stroke-weight:0.1;
            fill: #3660b0;
        }


        .skill-circle {
            width: 25%;
            height: 120px;
            padding-right: 20px;
            box-sizing: border-box;
            float: left;
        }

        .radial {
            border-radius: 3px;
            background: #FFFFFF;
            color: #000;

        }

.background {
    fill: red;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;

}

.component .label {
    font-family: 'Josefin Sans', sans-serif;
    text-anchor: middle;
    fill: #333;
    font-size: 15px;
}

.arc {
    stroke-weight:0.1;
    fill: #333;


}
.invisible{
  display: none;
}
.phrase{

  background-color: #f7f7f7;
    border: 1px solid #dddddd;
    border-radius: 12px;
    color: #333;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.label {
    font-family: 'Josefin Sans', sans-serif;
    text-anchor: middle;

}

.radial-svg {
    display: block;
    margin: 0 auto;
    margin-bottom:20px;
    padding-left: 10px;
}

#chart{
    background-color: #fbfbfb;
}
.label2 {
    font-family: 'Josefin Sans', sans-serif;
    fill: #fbfbfb;
    font-size: 10px;

}
.label3 {
    font-family: 'Josefin Sans', sans-serif;


}
.wtf{
    fill: #e1e1e1;
}

#tooltip{
        margin-top: 150px;
        margin-left: -10px;
    width: 110px;
    border-radius: 3px;
    background-color: #333;
    color: #bbb;
    padding: 3px;
    font-size: 12px;
    text-align: center;

}


.arrow_box {
  position: relative;

}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(89, 213, 155, 0);
  border-right-color: #333;
  border-width: 5px;
  margin-top: -5px;
  margin-left: -3px;
}
.arrow_box:before {

}

.round
    {
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 7px;
        padding-top: 5px;
        padding-bottom: 5px;

        border: 1px solid #fbfbfb;
    }


.round2{
    border-radius: 47px;
    padding: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid #fbfbfb;
    font-size: 25px;
    color: #fbfbfb;
  }


.round3{
    border-radius: 47px;
    padding: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid #fbfbfb;
    font-size: 25px;
  }

.round2:hover{
  color: #71a3be;
  background-color: #fbfbfb;
}

.about-content{
  width: 770px;
    margin-left: 47px;
    margin-top: 130px;
    // background: rgba(0,0,0,0.7);
    // overflow: hidden;
}



/*!
 * fullPage 2.7.5
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;
}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}
